* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    color: #FFF;
    background: #ebf2f5;
}

body, input, button, textarea{
    font: 600 18px Nunito, sans-serif;
}

:root {
    --title: #4D6F80;
    --text: #8FA7B3;
    --pink: #F44A87;
    --yellow: #FFB930;
    --blue: #38B6FF;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #F44A87;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #F44A87;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 0px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}